[Desktop Entry]
Version=1.0
Name=slyther3
Comment=Eat and grow your snake
Exec=slyther3
Terminal=false
Type=Application
StartupNotify=false
Icon=slyther3
Categories=Game;ArcadeGame;ActionGame
