[Desktop Entry]
Version=1.0
Name=slyther2
Comment=Eat and grow your snake
Exec=slyther2
Terminal=false
Type=Application
StartupNotify=false
Icon=slyther2
Categories=Game;ArcadeGame;ActionGame
